/** Fonts **/
body {
  font-family: 'Roboto Slab', serif;
}

/** Image styling **/
.logo {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 50px;
}

.banner-image {
  margin-top: 20px;
  margin-bottom: 20px;
}

/** Divider styling **/
.divider {
  height: 25px;
  background-color: #D32F2F;
}

/** Navbar styling **/
.navbar {
  background-color:#D32F2F;
  border-radius: 0px;
}

.nav-link {
  color:white !important;
  font-size: 1.5em;
}

/** home content **/
.content {
  margin-top: 20px;
}

.highlightquestion {
  color:#EB5757;
}
