/** Fonts **/
body {
  font-family: 'Roboto Slab', serif;
  background-color: #E1F5FE;
}

/** Image styling **/
.logo {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2em;
  height: 100px;
}

.banner-image {
  position:relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

/** Divider styling **/
.divider {
  height: 25px;
  background-color: #009688;
}

/** Navbar styling **/
.navbar {
  background-color:#009688;
  border-radius: 0px;
}

.main-nav {
  margin-left:auto;
  margin-right:auto;
}

.nav li {
  margin-left: 2em !important;
}

.nav-link {
  color:white !important;
  font-size: 1.5em;
}

/** home content **/
.content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.highlightquestion {
  color:#004D40;
}

/** Category image styling **/
.cat-banner {
  margin-top: 20px;
}

.cat-image {
  margin-bottom: 20px;
}


/** Header styling **/
h1, h2, h3, h4, h5, h6 {
  color: #333333;
}

/** Footer styling **/
.footer-text {
  text-align: center;
  color: #BDBDBD;
  padding-top: 40px;
}

.footer-text p {
  margin-bottom: 0px;
}

/** sticky footer **/

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color:#4F4F4F;
  height: 100px;
}

.social-buttons {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 60%;
  padding-top: 5px;
}

#truck-image {
  margin-bottom: 20px;
}

#phone-number {
  font-size: 3.5em;
  margin-top: 1em;
}
