<div class="header-site">
    <div class="container-fluid">
        <img class="logo" src="imgs/logo.svg" />
    </div>
    <nav class="navbar navbar-light">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">

                <a class="nav-link" href="#">Categories</a>
            </li>
        </ul>
    </nav>
</div>
